---
title: ankitverma18.github.io
---

<!DOCTYPE html>
<html lang="en-us">

<head>


{% include header_script.html 
    titletag="Home | Ankit Verma"
    url="https://ankitverma18.github.io/"
%}


{% include header.html %}


<span class="js-widget-page d-none"></span>



  <section id="about" class="home-section wg-about   "  >
    <div class="container">
      



<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="person-email person-telephone person-address">
  <div class="col-12 col-lg-4">
    <div id="profile">

      
      
      <img class="portrait" src="/assets/img/profile_utkarsh_gupta.jpg" itemprop="image" alt="Avatar">
      

      <div class="portrait-title">
        <h2 itemprop="name">Ankit Verma</h2>
        <h3 itemprop="jobTitle">Energy Enthusiast</h3>

        
        <h3 itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
          
          <span itemprop="name"></span>
          
        </h3>
        
      </div>

      <link itemprop="url" href="">

      <ul class="network-icon" aria-hidden="true">    
        

        <li>
          <a itemprop="sameAs" href="https://github.com/ankitverma18" target="_blank" rel="noopener">
            <i class="fab fa-github big-icon"></i>
          </a>
        </li>
        
        
        <li>
          <a itemprop="sameAs" href="https://www.linkedin.com/in/ankit-verma-4227b4156/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin big-icon"></i>
          </a>
        </li>
        
  

        <li>
          <a itemprop="sameAs" href="https://www.facebook.com/ankit.vermanpic/" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f big-icon"></i>
          </a>
        </li>

        <li>
          <a itemprop="sameAs" href="mailto:ankit.vermanpic@gmail.com" target="_blank" rel="noopener">
            <i class="fas fa-envelope big-icon"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
  <div class="col-12 col-lg-8" itemprop="description">

    
    <h1>About Me</h1>

    <p>I am a final year UG student at Rajiv Gandhi Institute of Petroleum Technology, Jais.
      <p>I want to pursue a career in the oil and gas industry where there is limitless potential to obtain knowledge, enhance skills, explore new possibilities, and emerge as an educated professional in a true sense.</p>
      Furthermore, I would like to work on projects addressing energy security and sustainable development. </p>
  

    <div class="row">

      
      <div class="col-md-5">
        <h3>Interests</h3>
        <ul class="ul-interests">
          
          <li>Drilling Engineering</li>
          
          <li>Technology advancement in Oil and Gas</li>
          
          <li> Drilling Fluids selection</li>
          
        </ul>
      </div>
      

      
      <div class="col-md-7">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
          
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">B. Tech in Petroleum Engineering, 2017-21</p>
              <p class="institution">Rajiv Gandhi Institute of Petroleum Technology, Jais</p>
            </div>
          </li>
                    
        </ul>
      </div>
      

    </div>
  </div>
</div>

    </div>
  </section>

  
  <section id="experience" class="home-section wg-experience   "  >
    <div class="container">
    

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>Experience</h1>
    
  </div>
  <div class="col-12 col-lg-8">
    

    
    
    
    <div class="row experience">
      
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col ">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <div class="m-2">
          <span class="badge badge-pill border ">&nbsp;</span>
        </div>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Project Intern at Knnamp Enterprise'20</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="http://knnamp.com/" target="_blank" rel="noopener">Knnamp Enterprise</a></h4>
                <div class="card-text"><ul>
                  <br>
                  <li>Worked as a Project Intern at Knnamp Enterprise for Knnamp Enterprise, a 9-week online internship program.</li>
                  <li>Worked on a project titled - "Selection of drilling fluids in different environments: A holistic approach"</li>
                  <li>A critical analysis of 25+ parameters was done to select the optimum drilling mud system in deep-water and High Pressure/High Temperature (HP/HT) wells considering both advantages and disadvantages of both Water-based mud system and Oil-based mud system.</li>
                  <li>A detailed case study was done to select the optimum mud system in a given lithology.</li>
                  </br>
                  </ul></div>

              May 2020 –
              
                July 2020
              
              
                <span class="middot-divider"></span>
                <span>Online</span>
                <p style="text-align:left;">
                  <a class="card-link" href="https://www.linkedin.com/in/ankit-verma-4227b4156/" target="_blank" rel="noopener">
                    <strong><i>See Portfolio</i></strong>
                  </a>
                    <span style="float:right;">
                    <a class="card-link" href="https://drive.google.com/file/d/19v9uzTXaPdXlONaE1D7Mp7li8PD4SEDF/view?usp=sharing" target="_blank" rel="noopener">
                    <strong><i>See Certificate</i></strong>
                    </a>
                  </span>
              </p>
              
            
          </div>
        </div>
      </div>
    </div>
  

    
    <div class="row experience">
      
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <div class="m-2">
          <span class="badge badge-pill border ">&nbsp;</span>
        </div>
        <div class="row h-50">
          <div class="col ">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Winter Intern at ONGC</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.ongcindia.com/wps/wcm/connect/en/home/" target="_blank" rel="noopener">ONGC,Mehsana Asset</a></h4>

            <div class="card-text"><ul>
              <br>
              <li>Worked on a project titled “Comparison of Nelson & McNeil and Gates & Ramey method in In-situ Combustion on Field scale for Oil Recovery”</li>
              <li>Assessed the applicability of In-situ Combustion thermal recovery technique for better production on the heavy oil fields of Mehsana field.</li>
              <li>Determined the better method between the prevailing two methods, Nelson & McNeil method and Gates & Ramey method, for Heavy oil recovery</li>
              <li>Examined the effect on Oil production and Air/Oil ratio by varying various parameters used in the Nelson & McNeil method and Gates & Ramey method</li>
              <br /></li>
              </ul>
            </div>

              Dec 2019 –
              
                Jan 2020
              
              
                <span class="middot-divider"></span>
                <span>ONGC Mehsana, India</span>
				<p style="text-align:left;">
                  <a class="card-link" href="https://www.linkedin.com/in/ankit-verma-4227b4156/" target="_blank" rel="noopener">
                    <strong><i>See Portfolio</i></strong>
                  </a>
                    <span style="float:right;">
                    <a class="card-link" href="https://drive.google.com/file/d/1Xbd7j9uFoAkYY40EEoiGgW4vWUErtv69/view?usp=sharing" target="_blank" rel="noopener">
                    <strong><i>See Certificate</i></strong>
                    </a>
                  </span>
              </p>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

    </div>
  </section>



  <section id="accomplishments" class="home-section wg-accomplishments   "  >
    <div class="container">
      



<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>Accomplish&shy;ments</h1>
    
  </div>
  <div class="col-12 col-lg-8">
    

          <div class="card experience course">
        <div class="card-body"><a href="https://www.hindustanpetroleum.com/ngic/about-ngic-2020#" target="_blank" rel="noopener"><h4 class="card-title exp-title text-muted my-0">New Generation Ideation 2019</h4></a><div class="card-subtitle my-0 article-metadata"><a href="https://www.hindustanpetroleum.com/hp-green-rd-centre" target="_blank" rel="noopener">HPCL Green Research and Development Centre  </a><span class="middot-divider"></span>

            September, 2019
            
          </div>

          
            <div class="card-text"><ul>
              <br>
              <li>One among 30 candidates nationwide selected in “New Generation Ideation Contest 2019” at HPCL Green Research and Development Centre.</li>
              <li> Presented on a project titled "Using Foot operated taps to save water and prevent infection"</li>
             
              <br /></li>
              </ul></div>
          

          
            <a class="card-link" href="https://drive.google.com/file/d/1xKTwQdzuSeoBRfFPCoVkpfgNO6ybw5iO/view?usp=sharing" target="_blank" rel="noopener">
              See certificate
            </a>
          
        </div>
      </div>
    

      <div class="card experience course">
        <div class="card-body"><a href="https://www.mygov.in/task/inclusive-india-initiative-competition-my-views-inclusive-education/" target="_blank" rel="noopener"><h4 class="card-title exp-title text-muted my-0">Inclusive India Initiative Award</h4></a><div class="card-subtitle my-0 article-metadata"><a href="https://www.mygov.in/" target="_blank" rel="noopener">MyGov,India</a><span class="middot-divider"></span>

            
            
          </div>

          
        <div class="card-text"><ul>
          <br>
          <li>1st prize for my poster on “My Views on Inclusive Education” under the "Inclusive India Campaign 2017”</li>
        
          <br /></li>
          </ul></div>
          
			<a class="card-link" href="https://drive.google.com/file/d/1cyGny6bmZ8xoZ-py29JAh9WlMCI-xMm3/view?usp=sharing" target="_blank" rel="noopener">
              See certificate
            </a>
        
             
        </div>
      </div>
    
    
  </div>
</div>

    </div>
  </section>

  


  <section id="extracurricular" class="home-section wg-pages   "  >
    <div class="container">
    

  

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>Extracurricular</h1>
    
  </div>
  <div class="col-12 col-lg-8">

  
  
  
    <div class="row experience">
      
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Vice President at EAGE Student Chapter, RGIPT</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.linkedin.com/company/eage-european-association-of-geo-scientists-and-engineers-sc-rgipt/" target="_blank" rel="noopener">EAGE RGIPT, Student Chapter</a></h4>
            <div class="text-muted exp-meta">
              <br>
              <p>
                Responsible for the conduction of events and supervision of chapter activities including public relations,designing and editorial.
              </p>

              June 2020 – Present                   
              <span class="middot-divider"></span>
              <span>RGIPT Jais, India</span>

              </p>
              
              </div>
            
          </div>
        </div>
      </div>
    </div>
  




    
    <div class="row experience">
      
      
      <div class="col py-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Publicity Head</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.facebook.com/groups/1928418454056349" target="_blank" rel="noopener">Energia, RGIPT Jais</a></h4>
            <div class="text-muted exp-meta">
              <br>
              <p>
                Managed the publicity of the sports fest Energia 2k19, RGIPT.
              </p>
              January 2020 – February 2020
              
                <span class="middot-divider"></span>
                <span>RGIPT Jais, India</span>
              
            </div>

          </div>

          <div class="card-body">
            <h4 class="card-title exp-title text-muted mt-0 mb-1">Treasurer</h4>
            <h4 class="card-title exp-company text-muted my-0"><a href="https://www.linkedin.com/company/eage-european-association-of-geo-scientists-and-engineers-sc-rgipt/" target="_blank" rel="noopener">EAGE RGIPT, Student Chapter</a></h4>
            <div class="text-muted exp-meta">
              <br>
              <p>
                
                <br>
                Managed all the monetary affairs of the chapter.
              </p>
              April 2019 – May 2020
              
                <span class="middot-divider"></span>
                <span>RGIPT Jais, India</span>
              
            </div>

            
            
          </div>


        </div>
      </div>
    </div>
    
    
  </div>

    

  </div>
  </div>
</section>
    
{% include footer_script.html %}

{% include footer.html %}
  
</body>
</html>
