<div class="media author-card" itemscope itemtype="http://schema.org/Person">
    
      
    <img class="portrait mr-3" src="/assets/img/author_icon.jpg" itemprop="image" alt="Avatar">
  

  <div class="media-body">
    <h5 class="card-title" itemprop="name"><a href="https://ankitverma18.github.io">Ankit Verma</a></h5>
    <h6 class="card-subtitle">Energy Enthusiast</h6>
    <ul class="network-icon" aria-hidden="true">    
        <li>
          <a itemprop="sameAs" href="https://github.com/ankitverma18" target="_blank" rel="noopener">
            <i class="fab fa-github"></i>
          </a>
        </li>
  
        <li>
          <a itemprop="sameAs" href="https://www.linkedin.com/in/ankit-verma-4227b4156/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      
    </ul>
  </div>
</div>

