---
title: ankitverma18.github.io
---
<!DOCTYPE html>
<html lang="en-us">

<head>

{% include header_script.html 
titletag="Projects | Ankit Verma"
url="https://ankitverma18.github.io/project/"
%}
  
{% include header.html %}

  
<div class="universal-wrapper pt-3">
  <h1 itemprop="name">My Projects</h1>

  
</div>
<br>

<div class="universal-wrapper">


  <div class="media stream-item" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="media-body">
  
      <h3 class="article-title mb-0 mt-0" itemprop="name">
        <a href="https://drive.google.com/file/d/1qlbOgr94__hTl5jPE4BOSTqTTcTWEaM_/view?usp=sharing" target="_blank" itemprop="url">Retail Automation System</a>
      </h3>
  
      
      <div class="article-style" itemprop="articleBody">
        Analyzed and Regulated the maintenance of Retail Outlets of Lucknow region using Centralised HOS software.
      </div>
    
    </div>
  </div>
  

  <div class="media stream-item" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="media-body">
  
      <h3 class="article-title mb-0 mt-0" itemprop="name">
        <a href="https://literoflight.org/" target="_blank" itemprop="url">Liter of Light</a>
      </h3>
  
      
      <div class="article-style" itemprop="articleBody">
      Constructed "Liter of Light" - a low-cost light tube that refracts solar light to provide daytime interior lighting 
	  for dwellings with thin roofs as a solution and instated it in the rural households of Jais and Mukhetiya.

      </div>
    
    
    </div>
  </div>
  


<div class="media stream-item" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      <a href="https://drive.google.com/file/d/1RXfSpQLuTHhZhk1A_0eQRABxXW6pDv5a/view?usp=sharing" target="_blank" itemprop="url">Use of foot operated taps to save water and prevent infection</a>
    </h3>

    
    <div class="article-style" itemprop="articleBody">
      A mechanical system to prevent infection and decrease water consumption
	  in washing of hands and faces, utensils and similar operations.
    </div>
  
    

  </div>
</div>

    
  
  </div>
</div>
    

</div>

{% include footer_script.html %}

{% include footer.html %}


</body>
</html>